:root {
    --size: 25px;
}

body {
    text-align: center;
    background: white;
    color: #504949;
    font-family: 'helvetica neue', sans-serif;
    font-size: 20px;   
}

.list {
    padding-bottom: 5px;
}

.main {
    margin-top: 30px;
}

#size {
    width: 100px;
}

.text {
    font-size: var(--size);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
}

.fontsize {
    font-size: 15px;
}

.label {
    font-size: 15px;
    margin-left: 10px;
}

.colorname {
    font-size: 18px;
}

input {
    width: 200px;
}

.instructions {
    margin-top: 5px;
}

.instrlist {    
    font-size: 15px; 
    border: grey double 1px;
    background-color: #bbff99;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 2%;    
    padding: 5px;
    
}

.instrlist ul li {
    list-style-type: none;
}

.instr {
    margin-bottom: 10px;
    background-color: #bbff99;
}

.hidden {
    display: none;
}